:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Erika';
  src: url('assets/erika.ttf');
}

@font-face {
  font-family: 'Bootzy';
  src: url('assets/bootzy.ttf');
}

body {
  font-family: 'Erika';
  margin: 0;
  overflow: hidden;
}

button {
  font-family: 'Erika';
}

.react-p5-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* margin: 24px; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
